// Other CSS

.text-center,
.center-align {
    text-align: center;
}

.bears {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}

.show-page-title .entry .entry-title {
    text-indent: unset;
    height: unset;
    margin: unset;
    text-align: center;
}

.subscribe-form {

    .form-inputs {
        display: flex;
        flex-wrap: wrap;
    }

    .one-half {
        width: 50%;
        float: none;
        margin: 0;
    }

    .form-field input, 
    .form-field select, 
    .form-field option {
        padding: 0 0 5px 0;
        border: none;
        border-bottom: 3px solid #ffd234;
        margin-bottom: 30px;
    }

    .form-field input:focus, 
    .form-field select:focus, 
    .form-field option:focus {
        border-color: $sunflower;
    } 

    select {
        -moz-appearance: none;
        text-indent: 0.01px;
        padding-left: 8px;
        text-overflow: "";
        background-position: right center;
        padding-right: 16px;
        width: 100%;
    }

    input[type="text"],
    textarea {
        padding: 5px 5px;
    }

    input[type="text"],
    textarea,
    select {
        font-size: 16px;
        font-size: 15px; // Shiv: as per Frances's instructions (in Figma)
        font-weight: 500;
        border-radius: 0;
        padding: 6px !important;
    }

    input[type="checkbox"] {
        width: auto;
        margin-right: 2px;
    }

    .checkboxes {
        width: 100%;

        .preField {
            font-size: 16px;
            font-size: 15px; // Shiv: as per Frances's instructions (in Figma)
            font-weight: 500;
        }
        .inputWrapper {
            display: flex;
            flex-wrap: wrap;
            padding-top: 4px;
            label {
                margin-right: 12px;
                font-size: 16px;
                font-size: 15px; // Shiv: as per Frances's instructions (in Figma)
                line-height: 1em; // Shiv: as per Frances's instructions (in Figma)
            }
        }
        .oneChoice {
            width: 33.33%;
            padding-bottom: 3px;
        }
    }

    .actions {
        padding-top: 25px;
    }

    /* input[type="submit"] { // Shiv: added button classes to take care of the styles
        font-size: 18px;
        background: #ffd234;
        color: #000;
        font-variant: none;
        text-transform: lowercase;
        font-weight: 500;
        &:hover {
            background: #ffdc3e;
        }

    }*/

    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #000;
        opacity: 1; /* Firefox */
    }

    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #000;
    }

    input::-ms-input-placeholder { /* Microsoft Edge */
        color: #000;
    }

    input, select, textarea {
        color: #000;
    }

    input:focus, textarea:focus {
        color: #444;
    }

    select {
        transition: none;
    }
}

.ibme {
    .primaryAction {
        &:disabled {
            cursor: default !important;
        }
    }
}

// Cross browser select CSS (http://jsfiddle.net/sstur/fm5Jt/) -------------------------------------------

.subscribe-form {

    select {
        margin: 0;
        padding: 3px;
        background: transparent none no-repeat;
        cursor: pointer;
    }

    @media screen and (min-width:0) {

    /* for relatively modern browsers including IE 8+ */
    select {
            // border-radius: 4px;
            background-image: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAAlElEQVRIx+2VwQ3AIAhFwTiFi7KC7uYGHo1z0Et7MWkjaEiaQOJBDzy/wgdqrXwHWKyAiGAZDnSgHBhC+IfCUgqbKXxgGqhY4QyRQkUK35KLoK01iZd+xZKXRuEfbvdQPPGkAABEhMeLhohE5yfaAufk93791r13zQDmnLNqcOMYg1NKmoJgTRHtmDeaWZvPQweaAi8PXSmZJU3QRAAAAABJRU5ErkJggg==");
            background-position: -50px -50px;
        }
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {

    /* for Webkit */
    select {
            -webkit-appearance: none;
            background-position: right center;
            // padding: 14px 32px 14px 12px;
        }
    }

    @-moz-document url-prefix() {

    /* for Firefox */
    select {
        -moz-appearance: none;
        text-indent: 0.01px;
        padding-left: 8px;
        text-overflow: "";
        background-position: right center;
        padding-right: 16px;
    }

    /* hides the dotted outline on focus in FF (See SO#3773430) */
    select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #4c4c4e;
        }
    }

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {

        /* for IE10+ */
        select::-ms-expand {
            display: none;
        }

        select {
            background-position: right center;
            padding-right: 30px;
        }
    }

}

// Widget stuff ---------------------------------

.side-panel-container .panel-close,
.op-side-panel .panel-close {
    background: #ffd234 !important;
    &:hover {
        background: #ffde40 !important;
        svg {
            filter: brightness(0) saturate(100%) invert(22%) sepia(0%) saturate(892%) hue-rotate(136deg) brightness(107%) contrast(87%) !important;
        }
    }
}

.side-panel-container .panel-close svg,
.op-side-panel .panel-close svg {
    filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(14%) hue-rotate(273deg) brightness(99%) contrast(104%) !important;
}

.ibme-donate-button-wrapper,
.op-side-panel-container .op-side-panel.full-form,
.campaign-cards {
    .side-panel-container .side-panel {
        max-width: 700px;
    }
}

.full-form {
    max-width: 700px !important;
}

// Contact form ---------------------------------
.ibme.contact-page {	
		
	/* Form Styles */
	
	.wFormTitle,
	form br {
		display: none;
	}
	
	.wFormContainer {
		max-width: 1080px;
	}
	
	.wForm .preField {
		color: #000;
		font-weight: 400;
		font-size: 21px;
		text-transform: lowercase;
	}
	
	.wForm .label.reqMark::after {
		color: #000;
	}
	
	.wForm .inline div.oneField {
		display: block;
	}
	
	.label {
		width: 35%;
		color: #000;
		font-weight: 400;
		font-size: 21px;
		text-transform: lowercase;
	}
	
	.inputWrapper {

		width: 60%;
		box-sizing: border-box;
		max-width: 100%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		float: right;
		
		input {
			padding: 10px;
		}

		input[type="text"],
		input[type="email"],
		input[type="radio"],
		textarea,
		select option {
			background-color: #f9f9f9;
			padding: 10px 12px;
			text-transform: none;
		}

		select {
			border: none;
			padding: 8px;
		}

		.oneChoice {
			input {
				width: auto;
			}
		}

	}

	.wForm .oneField {
		margin-top: 20px;
	}
	
	.wForm .actions {
		border: none;
		padding: 0 0 0 0;
		margin-top: 25px;
	}
	
	.wForm input[type="button"],
	.wForm input[type="submit"] {
		background-color: #ffd234;
		color: #000;
		border: none;
		padding: 0.3em 1em;
		float: right;
		font-family: Inter, sans-serif !important;
		font-size: 16px;
		font-weight: 500;
	}
	
	.wForm input[type="button"]:hover,
	.wForm input[type="submit"]:hover {
		background-color: darken(#ffd234, 5%);
		color: #000;
	}
	
	#tfa_72-D .postField {
		width:auto;
		float:none;
		font-size:20px;
		margin-top:-1px;
	}
	
	#tfa_14-D {
		clear:both;
		padding-top: 20px;
		margin-top: 0;
	}

	textarea {
		min-height: 200px;
	}

	.wFormContainer .errMsg {
		font-weight: 500;
		color: #ef5dbf;
	}
	
	.captchaHelp,
	.disabled-explanation {
		display: none !important;
	}

	.captcha {
		clear: both;
		float: right;
		padding: 2px 0 0 !important;
		margin: 23px 10px 30px 0;
	}

	.captcha {
		text-align: center;
		background: #f9f9f9;
		border-style: solid;
		border-color: transparent;
		border-width: 1px;
		border-bottom-width: 2px;
		min-width: 270px;
		max-width: 270px;
	}

	.captcha .oneField {
		width: 154px;
		height: 73px;
		overflow: hidden;
		margin: 0 auto;
	}

	.g-recaptcha{
		position:relative;
		left: -2px;
		top: -2px;
		bottom: 0;
	}

	.primaryAction[disabled="disabled"] {
		color:#FFF !important;
	}
	
	.primaryAction:disabled {
		cursor: default !important;
		background-color: lighten(#ffd234, 15%) !important;
	}

	.primaryAction {
		clear: both;
	}

	.wFormFooter {
		display: none;
	}

}


/* Password page */

.post-password-form {

	max-width: 800px;
	margin-bottom: 40px;

	input[type=password] {
		border: 2px solid #A4EDC6;
		background: #fff;
		margin-top: 5px;
		margin-bottom: 10px;
		max-width: 350px;
		&:focus {
			background: #fff;
			border-color: #8eccdc;
		}
	}

	input[type=submit] {
		background-color: #A4EDC6;
		color: #000;
		padding: 8px 15px;
		&:hover {
			background-color: #d1f6e2;
		}
	}

}


/* Popup message */
.ibme {

	.pum-overlay {
		z-index: 0;
	}

	.pum-theme-lightbox .pum-container {
		padding: 50px 80px;
	}

	.pum-container {
		text-align: center;
		font-family: Inter, sans-serif !important;

		.pum-content {
			text-align: center;
		}

		.pum-title {
			font-family: "MADE Mirage Regular";
			font-weight: normal;
			font-size: 30px;
			text-align: center;
			margin-bottom: 25px;
			color: #000;
		}

		h3 {
			font-family: Inter, sans-serif !important;
			font-weight: 300;
			font-size: 20px;
			margin-bottom: 25px;
			color: #000;
		}

		p {
			color: #000;
			font-weight: 300;
			font-size: 14px;
		}

		.white-btn {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 17px;
			padding: 11px 30px;
		}

		.opt-in-form {
			margin-bottom: 5px;

			.oneField {
				margin-bottom: 0;
			}

			.two-thirds {
				margin-left: 0;
				margin-bottom: 0;
				float: left;
				width: 81.90598290598291%;
			}

			.actions {
				width: 15.52991%;
				margin-left: 2.564102564102564%;

				input {
					padding-top: 13px;
					padding-bottom: 13px;
				}
			}
		}

		.pum-content p:last-child {
			margin-bottom: 9px;
		}

		.pum-close {
			outline: none !important;
		}

	}

	#pum-10538,
	#pum-10551,
	#pum-10761,
	#pum-10765 {

		.pum-container {
			padding-top: 40px;
			padding-bottom: 40px;

			.pum-close {
				z-index: 0;
			}
		}

	}

}

@media all and (max-width: 870px) {

	.ibme {

		.pum-theme-lightbox .pum-container {
			padding: 30px 40px;
		}

		.pum-container {

			.popmake-title {
				font-size: 27px;
			}

			.opt-in-form {

				.oneField {
					margin-bottom: 15px;
				}

				.two-thirds {
					width: 77.90598290598291%;
				}

				.actions {
					width: auto;
				}
			}

		}

	}

}

@media all and (max-width: 725px) {

	.ibme {

		.pum-container {

			.opt-in-form {

				.two-thirds {
					width: auto;
					float: none;
				}

				.actions {
					float: none;
					margin: 0 auto;
				}
			}

		}

	}

}


// Misc ---------------------------------
.vid-padding-more {
	.embed-container {
		padding-bottom: 57.25%;
	}
}
