/* Site Specific CSS */  

/* Generic Styles */

/* Button Styles */

.ibme-button {
    min-width: 140px;
    min-height: 40px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    color: $black;
    text-align: center;
    display: inline-block;
    text-transform: lowercase;
    font-variant: normal;
    border: 2px solid;
    padding: 0.15em 1em;

    &:hover {
        text-decoration: none;
        color: #000 !important;
    }
}

.style-1 {

    &.cherry-button {
        background-color: $cherry;
        border-color: $cherry;
    }

    &.poppy-button {
        background-color: $poppy;
        border-color: $poppy;
    }

    &.blush-button {
        background-color: $blush;
        border-color: $blush;
    }

    &.barbie-button {
        background-color: $barbie;
        border-color: $barbie;
    }

    &.peony-button {
        background-color: $peony;
        border-color: $peony;
    }

    &.violet-button {
        background-color: $violet;
        border-color: $violet;
    }

    &.tangerine-button {
        background-color: $tangerine;
        border-color: $tangerine;
    }

    &.marigold-button {
        background-color: $marigold;
        border-color: $marigold;
    }

    &.sunflower-button {
        background-color: $sunflower;
        border-color: $sunflower;
    }

    &.forest-button {
        background-color: $forest;
        border-color: $forest;
    }

    &.teal-button {
        background-color: $teal;
        border-color: $teal;
    }

    &.mint-button {
        background-color: $mint;
        border-color: $mint;
    }

    &.ocean-button {
        background-color: $ocean;
        border-color: $ocean;
    }

    &.sky-button {
        background-color: $sky;
        border-color: $sky;
    }

    &.bluejay-button {
        background-color: $bluejay;
        border-color: $bluejay;
    }

    &.lavender-button {
        background-color: $lavender;
        border-color: $lavender;
    }

    /* Hover States for buttons */

    &.cherry-button:hover {
        background-color: $cherry-tint;
        border-color: $cherry-tint;
    }

    &.poppy-button:hover {
        background-color: $poppy-tint;
        border-color: $poppy-tint;
    }

    &.blush-button:hover {
        background-color: $blush-tint;
        border-color: $blush-tint;
    }

    &.barbie-button:hover {
        background-color: $barbie-tint;
        border-color: $barbie-tint;
    }

    &.peony-button:hover {
        background-color: $peony-tint;
        border-color: $peony-tint;
    }

    &.violet-button:hover {
        background-color: $violet-tint;
        border-color: $violet-tint;
    }

    &.tangerine-button:hover {
        background-color: $tangerine-tint;
        border-color: $tangerine-tint;
    }

    &.marigold-button:hover {
        background-color: $marigold-tint;
        border-color: $marigold-tint;
    }

    &.sunflower-button:hover {
        background-color: $sunflower-tint;
        border-color: $sunflower-tint;
    }

    &.forest-button:hover {
        background-color: $forest-tint;
        border-color: $forest-tint;
    }

    &.teal-button:hover {
        background-color: $teal-tint;
        border-color: $teal-tint;
    }

    &.mint-button:hover {
        background-color: $mint-tint;
        border-color: $mint-tint;
    }

    &.ocean-button:hover {
        background-color: $ocean-tint;
        border-color: $ocean-tint;
    }

    &.sky-button:hover {
        background-color: $sky-tint;
        border-color: $sky-tint;
    }

    &.bluejay-button:hover {
        background-color: $bluejay-tint;
        border-color: $bluejay-tint;
    }

    &.lavender-button:hover {
        background-color: $lavender-tint;
        border-color: $lavender-tint;
    }
}

.style-2 {
    &.ibme-button {
        background-color: #fff;
        border-color: #fff;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 0.8);
        }
    }
}

.style-3 {

    position: relative;

    &:after {
        content: '';
        background: url("assets/img/button-specks-left.svg") no-repeat left top / contain;
        width: 181px;
        height: 75px;
        position: absolute;
        top: -10px;
        left: -24px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
    }

    &.cherry-button {
        background-color: $cherry;
        border-color: $cherry;
    }

    &.poppy-button {
        background-color: $poppy;
        border-color: $poppy;
    }

    &.blush-button {
        background-color: $blush;
        border-color: $blush;
    }

    &.barbie-button {
        background-color: $barbie;
        border-color: $barbie;
    }

    &.peony-button {
        background-color: $peony;
        border-color: $peony;
    }

    &.violet-button {
        background-color: $violet;
        border-color: $violet;
    }

    &.tangerine-button {
        background-color: $tangerine;
        border-color: $tangerine;
    }

    &.marigold-button {
        background-color: $marigold;
        border-color: $marigold;
    }

    &.sunflower-button {
        background-color: $sunflower;
        border-color: $sunflower;
    }

    &.forest-button {
        background-color: $forest;
        border-color: $forest;
    }

    &.teal-button {
        background-color: $teal;
        border-color: $teal;
    }

    &.mint-button {
        background-color: $mint;
        border-color: $mint;
    }

    &.ocean-button {
        background-color: $ocean;
        border-color: $ocean;
    }

    &.sky-button {
        background-color: $sky;
        border-color: $sky;
    }

    &.bluejay-button {
        background-color: $bluejay;
        border-color: $bluejay;
    }

    &.lavender-button {
        background-color: $lavender;
        border-color: $lavender;
    }

    /* Hover States for buttons */

    &.cherry-button:hover {
        background-color: $cherry-tint;
        border-color: $cherry-tint;
    }

    &.poppy-button:hover {
        background-color: $poppy-tint;
        border-color: $poppy-tint;
    }

    &.blush-button:hover {
        background-color: $blush-tint;
        border-color: $blush-tint;
    }

    &.barbie-button:hover {
        background-color: $barbie-tint;
        border-color: $barbie-tint;
    }

    &.peony-button:hover {
        background-color: $peony-tint;
        border-color: $peony-tint;
    }

    &.violet-button:hover {
        background-color: $violet-tint;
        border-color: $violet-tint;
    }

    &.tangerine-button:hover {
        background-color: $tangerine-tint;
        border-color: $tangerine-tint;
    }

    &.marigold-button:hover {
        background-color: $marigold-tint;
        border-color: $marigold-tint;
    }

    &.sunflower-button:hover {
        background-color: $sunflower-tint;
        border-color: $sunflower-tint;
    }

    &.forest-button:hover {
        background-color: $forest-tint;
        border-color: $forest-tint;
    }

    &.teal-button:hover {
        background-color: $teal-tint;
        border-color: $teal-tint;
    }

    &.mint-button:hover {
        background-color: $mint-tint;
        border-color: $mint-tint;
    }

    &.ocean-button:hover {
        background-color: $ocean-tint;
        border-color: $ocean-tint;
    }

    &.sky-button:hover {
        background-color: $sky-tint;
        border-color: $sky-tint;
    }

    &.bluejay-button:hover {
        background-color: $bluejay-tint;
        border-color: $bluejay-tint;
    }

    &.lavender-button:hover {
        background-color: $lavender-tint;
        border-color: $lavender-tint;
    }
}

.style-4 {

    background-color: #fff;

    &.cherry-button {
        border-color: $cherry;
    }

    &.poppy-button {
        border-color: $poppy;
    }

    &.blush-button {
        border-color: $blush;
    }

    &.barbie-button {
        border-color: $barbie;
    }

    &.peony-button {
        border-color: $peony;
    }

    &.violet-button {
        border-color: $violet;
    }

    &.tangerine-button {
        border-color: $tangerine;
    }

    &.marigold-button {
        border-color: $marigold;
    }

    &.sunflower-button {
        border-color: $sunflower;
    }

    &.forest-button {
        border-color: $forest;
    }

    &.teal-button {
        border-color: $teal;
    }

    &.mint-button {
        border-color: $mint;
    }

    &.ocean-button {
        border-color: $ocean;
    }

    &.sky-button {
        border-color: $sky;
    }

    &.bluejay-button {
        border-color: $bluejay;
    }

    &.lavender-button {
        border-color: $lavender;
    }

    /* Hover States for buttons */

    &.cherry-button:hover {
        border-color: $cherry-tint;
    }

    &.poppy-button:hover {
        border-color: $poppy-tint;
    }

    &.blush-button:hover {
        border-color: $blush-tint;
    }

    &.barbie-button:hover {
        border-color: $barbie-tint;
    }

    &.peony-button:hover {
        border-color: $peony-tint;
    }

    &.violet-button:hover {
        border-color: $violet-tint;
    }

    &.tangerine-button:hover {
        border-color: $tangerine-tint;
    }

    &.marigold-button:hover {
        border-color: $marigold-tint;
    }

    &.sunflower-button:hover {
        border-color: $sunflower-tint;
    }

    &.forest-button:hover {
        border-color: $forest-tint;
    }

    &.teal-button:hover {
        border-color: $teal-tint;
    }

    &.mint-button:hover {
        border-color: $mint-tint;
    }

    &.ocean-button:hover {
        border-color: $ocean-tint;
    }

    &.sky-button:hover {
        border-color: $sky-tint;
    }

    &.bluejay-button:hover {
        border-color: $bluejay-tint;
    }

    &.lavender-button:hover {
        border-color: $lavender-tint;
    }
}

.style-5 {
    &.ibme-button {
        background-color: #000;
        border-color: #000;
        color: #fff;

        &:hover {
            background-color: #fff;
            border-color: #fff;
            color: #000;
        }
    }
}

.inline-buttons {
    display: flex;

    .ibme-button:first-child {
        margin-right: 30px;
    }
}


/* Body Font */

.ibme {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.72em;
    letter-spacing: 0.25px;
}

/* Structure */

/* Site Container */

.ibme {
    .site-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .wrap {
        width: 1440px;
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 100px;
        box-sizing: border-box;
    }
}

/* Site Header */

.ibme {
    .site-title {
        a {
            width: 250px;
            height: 56px;
            display: block;
            background: url("assets/img/logo.svg") no-repeat center / contain;
            text-indent: -9999px;
        }
    }

    .site-description {
        text-indent: -9999px;
        height: 0;
        margin: 0;
    }

    .site-header {
        .wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 2em;
            padding-bottom: 2em;
        }

        .menu {
            li {
                font-weight: 500;
                text-transform: lowercase;
                font-size: 15px;

                a {
                    margin-left: 0.75em;
                    margin-right: 0.75em;
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: .9em;

                    &:after {
                        content: '';
                        height: 3px;
                        display: block;
                        border-radius: 10px;
                        transition: all 0.25s;
                    }

                    &:hover:after {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.25s;
                    }

                    &:hover:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            li:hover a{
                &:after {
                    opacity: 0;
                    visibility: hidden;
                }

                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .sub-menu {
            li a:after,
            li a:before {
                content: none;
            }
        }
    }

    .menu-primary .wrap {
        width: auto;
        padding: 0;
    }
}

#menu-primary-items {

    a {
        margin-left: 0.75em;
        margin-right: 0.75em;
        padding-left: 0;
        padding-right: 0;
    }
}

.teen-retreats a:after {
    background-color: $barbie;
}

.custom-programs a:after {
    background-color: $marigold;
}

.teacher-training a:after {
    background-color: $bluejay;
}

.community-care a:after {
    background-color: $lavender;
}

.teen-retreats > a:before {
    width: 72px;
    height: 35px;
    background: url("assets/img/barbie-specks.svg") no-repeat center / contain;
    left: 20px;
    top: 5px;
}

.custom-programs > a:before {
    width: 99px;
    height: 35px;
    background: url("assets/img/marigold-specks.svg") no-repeat center / contain;
    left: 20px;
    top: 5px;
}

.teacher-training > a:before {
    width: 148px;
    height: 24px;
    background: url("assets/img/bluejay-specks.svg") no-repeat center / contain;
    top: 10px;
    left: -4px;
}

.community-care > a:before {
    width: 136px;
    height: 24px;
    background: url("assets/img/lavender-specks.svg") no-repeat center / contain;
    top: 12px;
    left: 0;
}

/* Primary Menu Sub-menu Styles */

#menu-primary-items {
    .teen-retreats > .sub-menu,
    .custom-programs > .sub-menu,
    .teacher-training > .sub-menu,
    .community-care > .sub-menu {
        width: 550px;
        display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .teen-retreats {
        .sub-menu {
            background-color: $barbie;
            
        }
    }

    .custom-programs {
        .sub-menu {
            background-color: $marigold;
        }
    }

    .teacher-training {
        .sub-menu {
            background-color: $bluejay;
        }
    }

    .community-care {
        .sub-menu {
            background-color: $lavender;
        }
    }

    .sub-menu-label {
        
        > a {
            font-family: "MADE Mirage Regular";
            font-size: 30px;
            margin: 0;
            padding: 35px 35px 25px;
        }
        
        .sub-menu {
            width: 100%;
            top: 76px !important;
            box-shadow: none;
            padding-bottom: 35px;
        }
    }

    .sub-menu-label:first-child {
        width: 40%;

        .sub-menu {
            border-bottom-left-radius: 5px;
        }
    }

    .sub-menu-label:last-child {
        width: 60%;

        .sub-menu {
            border-bottom-right-radius: 5px;
        }
    }

    .teen-retreats:hover,
    .custom-programs:hover,
    .teacher-training:hover,
    .community-care:hover {
        .sub-menu .sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
    
    .custom-programs,
    .custom-programs:hover {
        .sub-menu {
            left: -117px;
        }
    }

    .teacher-training,
    .teacher-training:hover { 
        .sub-menu {
            left: -270px;
        }
    }
    
    .community-care,
    .community-care:hover {
        .sub-menu {
            left: -410px;
        }
    }

    .teen-retreats,
    .teen-retreats:hover,
    .custom-programs,
    .custom-programs:hover,
    .teacher-training,
    .teacher-training:hover,
    .community-care,
    .community-care:hover {
        .sub-menu .sub-menu {
            left: 0;
        }
    }

    .sub-menu .sub-menu li {
        
        a {
            font-weight: 300;
            padding: 0 35px;
            margin: 0;
            font-weight: 300;

            &:hover {
                font-weight: 400;
            }
        }
    }
}


.ibme #menu-top-nav-extended-menu {
    a {
        padding: 0.382em 0;
        
        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
}

.menu {

    a:hover {
        opacity: 1;
        color: $black;
        text-decoration: none;
    }

    .support {

        a {
            position: relative;
        }

        a:before {
            width: 13px;
            height: 12px;
            background: url("assets/img/support-hover.svg") no-repeat center / contain;
            top: 4px;
            left: -8px;
        }
    }

    .about {

        a {
            position: relative;
        }

        a:before {
            width: 13px;
            height: 12px;
            background: url("assets/img/about-hover.svg") no-repeat center / contain;
            top: 3px;
            right: -10px;
        }
    }


    .calendar {
        a {
            background: url("assets/img/icons/top-nav-calendar.svg") no-repeat center / contain;
            width: 25px;
            height: 25px;
            display: block;
            text-indent: -9999px;
            margin-top: 8px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .shop {
        a {
            background: url("assets/img/icons/top-nav-cart.svg") no-repeat center / contain;
            width: 25px;
            height: 25px;
            display: block;
            text-indent: -9999px;
            margin-top: 8px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .donate {
        a {
            margin-left: 0.75em;
            margin-right: 0.75em;
            padding-left: 0;
            padding-right: 0;
            position: relative;

            &:after {
                background-color: $sky;
            }

            &:before {
                width: 13px;
                height: 12px;
                background: url("assets/img/donate-hover.svg") no-repeat center / contain;
                top: 3px;
                right: -10px;
            }
        }
    }
}

#menu-top-nav-extended-menu {

    .support > .sub-menu,
    .about > .sub-menu {
        width: 550px;
        display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .support, .about {
        .sub-menu {
            background-color: $mint;
            
        }
    }

    .sub-menu-label {
        
        > a {
            font-family: "MADE Mirage Regular";
            font-size: 30px;
            margin: 0;
            padding: 35px 35px 25px;
        }
        
        .sub-menu {
            width: 100%;
            top: 76px !important;
            box-shadow: none;
            padding-bottom: 35px;
        }
    }

    .sub-menu-label:first-child {
        width: 40%;

        .sub-menu {
            border-bottom-left-radius: 5px;
        }
    }

    .sub-menu-label:last-child {
        width: 60%;

        .sub-menu {
            border-bottom-right-radius: 5px;
        }
    }

    .support:hover,
    .about:hover {
        .sub-menu .sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }

    .support,
    .support:hover,
    .about,
    .about:hover {
        .sub-menu {
            right: 0;
        }
    }

    .support,
    .support:hover,
    .about,
    .about:hover {
        .sub-menu .sub-menu {
            left: 0;
        }
    }

    .sub-menu .sub-menu li {
        
        a {
            font-weight: 300;
            padding: 0 35px;
            margin: 0;
            font-weight: 300;

            &:hover {
                font-weight: 400;
            }
        }
    }

    .sub-menu .sub-menu .current-menu-item a {
        font-weight: 400;
    }
}    

#menu-primary-items :link:hover, 
#menu-primary-items :visited:hover, 
#menu-sub-terms-items :link:hover, 
#menu-sub-terms-items :visited:hover {
    background-color: transparent;
    opacity: 1;
    color: $black;
}

/** Site Footer */

.site-footer {
    background-color: $blush;
    min-height: 500px;
    position: absolute;
    width: 100%;
    line-height: 1.45em;

    .wrap {
        padding-top: 0;
        padding-bottom: 0 !important;
        position: relative;
        top: -50px;
    }
}

.site-footer:before {
    content: '';
    display: block;
    width: 140px;
    height: 126px;
    background: url("assets/img/footer-floral-left.svg") no-repeat center / contain;
    position: relative;
    top: -15px;
}

/* Footer Widgets */

.footer-widgets {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 60px;

    .widgettitle  {
        color: $black;
        font-family: "MADE Mirage Thin";
        text-transform: lowercase;
        font-size: 1.2em;
        margin-bottom: 0.618em;
    }

    .footer-widget {
        width: 25%;
    }

    a:hover {
        color: #fff;
        opacity: 1;
    }

    li a {
        font-weight: 300;

        &:hover {
            font-weight: 500;
            color: #000;
        }
    }
}

.footer-widget-one {
    text-align: left;
    display: flex;
    padding-top: 70px;

    .widget {
        width: 50%;
    }

    .menu {
        list-style: none;
        padding-left: 0;
        font-weight: 500;
        text-transform: lowercase;
    }
}

.footer-widget-two {
    .site-name {
        width: 250px;
        height: 56px;
        display: block;
        background: url("assets/img/logo.svg") no-repeat center / contain;
        text-indent: -9999px;
        margin: 0 auto 40px;
    }
}

.footer-widget-three {
    padding-top: 75px;

    .donate-block {
        background-color: #fff;
        border-radius: 5px;
        padding: 1.2em 1.2em 2.45em 1.2em;
        position: relative;
    }

    .donate-block:after {
        content: '';
        display: inline-block;
        width: 104px;
        height: 128px;
        background: url("assets/img/footer-floral-right.svg") no-repeat center / contain;
        position: absolute;
        right: -50px;
        top: 90px;
    }
}

/* Footer Columns */

.footer-columns {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    font-size: 15px;
    align-items: center;

    .footer-column {
        width: 33.33%;
    }

    a:hover {
        color: #fff;
        opacity: 1;
    }
}

.footer-column {

    .widget {
        margin-bottom: 0;
    }

    p, ul {
        margin-bottom: 0;
        margin-top: 0;
        //line-height: 1.618em;
    }

    .contact-info {
        a {
            text-decoration: none;
        }

        a:first-child {
            margin-right: 28px;
        }
    }
}

.footer-column-right {
    text-align: right;
}

.menu-footer-menu-container {

    .menu {
        list-style: none;
        display: flex;
        padding-left: 0;
    }
    
    li {
        text-transform: lowercase;

        a {
            padding: 0 0.25em; 
        }
    }

    li:first-child a {
        padding-left: 0;
    }
    
}
.menu-social-menu-container {
    .menu {
        list-style: none;
        display: flex;
        padding-left: 0;
        align-items: center;
        justify-content: center;

        a {
            display: block;
            text-indent: -9999px;
            width: 42px;
            height: 42px;
            margin: 0 5px;
        }
    }    
        
    .social-insta a {
        background: url("assets/img/icons/instagram.svg") no-repeat center / cover;

        &:hover {
            background-image: url("assets/img/icons/instagram-hover.svg")
        }
    }

    .social-fb a {
        background: url("assets/img/icons/facebook.svg") no-repeat center / cover;

        &:hover {
            background-image: url("assets/img/icons/facebook-hover.svg")
        }
    }

    .social-linkedin a {
        background: url("assets/img/icons/linkedin.svg") no-repeat center / cover;

        &:hover {
            background-image: url("assets/img/icons/linkedin-hover.svg")
        }
    }

    .social-youtube a {
        background: url("assets/img/icons/youtube.svg") no-repeat center / cover;

        &:hover {
            background-image: url("assets/img/icons/youtube-hover.svg")
        }
    }

    .social-tiktok a {
        background: url("assets/img/icons/tiktok.svg") no-repeat center / cover;

        &:hover {
            background-image: url("assets/img/icons/tiktok-hover.svg")
        }
    }
    
}

.ibme {

    &.hide-page-title .entry-header {
        text-indent: -9999px;
        height: 0;
        margin: 0;
    }

    .entry {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
        overflow-x: visible;
    }
    
    .full-width-section {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: relative;

        .inner-wrap {
            width: 1440px;
            margin: 0 auto;
            padding-left: 100px;
            padding-right: 100px;
            box-sizing: border-box;

        }
    }
}



/* Front Page */

.home {

    .landing-section {
        min-height: 760px;
    }

    .inner .wrap {
        padding-top: 0;
        padding-bottom: 0;
    }
}    

.home-hero-section {
    background: url("assets/img/home-hero.jpg") no-repeat center top;
    background-size: 1920px auto;
    
    h2 {
        font-family: "MADE Mirage Regular";
        font-size: 84px;
        line-height: 0.92em;
        color: #fff;
        width: 50%; 
        font-weight: normal;
        margin-top: 0;
        padding-top: 150px;
        margin-bottom: 0.5em;
        text-transform: lowercase;
    }
}

.home-mission-statement-section {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;

    .inner-wrap:after {
        content: '';
        width: 134px;
        height: 164px;
        display: block;
        background: url("assets/img/section-bg-2.svg") no-repeat center / contain;
        position: absolute;
        bottom: 150px;
    }

    h3 {
        font-family: "MADE Mirage Regular";
        font-size: 84px;
        line-height: 1em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0.25em;
        text-transform: lowercase;
    }

    .landing-section-content {
        width: 50%;
        margin: 0 auto;

        &:after {
            content: '';
            width: 210px;
            height: 174px;
            display: block;
            background: url("assets/img/section-bg.svg") no-repeat center / contain;
            position: absolute;
            top: 10%;
            left: 75%;
        }
    }

    .inline-buttons {
        justify-content: center;
        margin-top: 2.618em;
    }
}

.ibme-communities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    img {
        display: block;
    }

    .ibme-community {
        width: 48%;
        margin-bottom: 60px;
    }

    .ibme-community-title {
        font-family: "MADE Mirage Regular";
        font-size: 84px;
        line-height: 1em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0.25em;
        text-transform: lowercase;
    }

    .inline-buttons {
        justify-content: center;
    }
}

.ibme-community-textual-content-wrap {
    border-radius: 5px;
    margin-top: -120px;
}

.barbie-bg-color .ibme-community-textual-content-wrap {
    background-color: $barbie;
}

.blush-bg-color .ibme-community-textual-content-wrap {
    background-color: $blush;
}

.bluejay-bg-color .ibme-community-textual-content-wrap {
    background-color: $bluejay;
}

.marigold-bg-color .ibme-community-textual-content-wrap {
    background-color: $marigold;
}

.ibme-community-textual-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 1.618em 0.618em;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.home-stats-section {
    display: flex;
    align-items: center;
    background: url("assets/img/stats-bg.png") no-repeat left center / contain; 

    .main-headline-title {
        font-family: "MADE Mirage Regular";
        font-size: 84px;
        line-height: 1em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0.25em;
        text-transform: lowercase;
    }

    .stats-content-headline {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 84px;
        line-height: 1em;
        margin-top: 0;
        margin-bottom: 0.25em;
        text-transform: lowercase;
    }

    .landing-section-content {
        display: flex;
        justify-content: space-between;

        .content-column {
            width: 48%;
        }
    }
}

.home .home-events-section {
    min-height: 550px;
}

.home-events-section {

    .ibme-events {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .ibme-event {
        width: 23%;
        box-sizing: border-box;
        padding: 50px 1.618em;
        min-height: 500px;
        border-radius: 5px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .ibme-event-title {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 1em;
        margin-top: 0;
        //margin-bottom: 0.25em;
        text-transform: lowercase;
        width: 65%;
    }

    .barbie-bg-color {
        background-color: $barbie;
    }

    .marigold-bg-color {
        background-color: $marigold;
    }

    .bluejay-bg-color {
        background-color: $bluejay;
    }

    .lavender-bg-color {
        background-color: $lavender; 
    }
}

.home-testimonial-section {
    display: flex;
    align-items: center;

    .testimonial-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .image-wrap {
        background: url("assets/img/testimonial-photo-bg.svg") no-repeat center / contain;
        width: 55%;
        min-height: 613px;

        img {
            display: block;
            margin-top: 87px;
            margin-left: 30px;
        }
    }

    .content-wrap {
        width: 34%;
    }

    .testimonial-content {
        font-family: "MADE Mirage Regular";
        font-size: 41px;
        color: $ocean;
        line-height: 1.15em;
        margin-bottom: 0;

    }

    .testimonial-by:before {
        content: '—';
        display: inline-block;
        margin-right: 5px;

    }
}

.home-upcoming-events-section {
    background: url("assets/img/calendar-section-bg.jpg") no-repeat center top;
    background-size: 1920px auto; 
    display: flex;
    align-items: center;

    .landing-section-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headline-column {
        width: 30%;
    }

    .upcoming-events-list {
        width: 62%;

        .barbie-color {
            .upcoming-event-date {
                p {
                    color: $barbie;
                }
            }
        }

        .lavender-color {
            .upcoming-event-date {
                p {
                    color: $lavender;
                }
            }
        }

        .ocean-color {
            .upcoming-event-date {
                p {
                    color: $ocean;
                }
            }
        }
    }

    .headline-title {
        font-family: "MADE Mirage Regular";
        font-size: 84px;
        line-height: 0.92em;
        color: #fff;
        //width: 50%; 
        font-weight: normal;
        margin-top: 0;
        //padding-top: 150px;
        margin-bottom: 0.5em;
        text-transform: lowercase;
    }

    .upcoming-event-item {
        background-color: $white;
        padding: 1em 1.618em;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-top: 40px;
        min-height: 140px;
    }

    .upcoming-event-date {
        width: 20%;

        p {
            font-size: 20px;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
        }

        span {
            display: block;
        }
    }

    .upcoming-event-title-location {
        width: 50%;
    }

    .upcoming-event-title {
        font-weight: 500;
        font-size: 24px;
        text-transform: lowercase;
        margin-top: 0;
        margin-bottom: 0;
    }

    .upcoming-event-location {
        text-transform: lowercase;
        margin-top: 0;
        margin-bottom: 0;
    }

    .upcoming-event-links {
        width: 20%;

        .ibme-button {
            margin-bottom: 10px;
        }
    }
}

.home-subscribe-section {
    display: flex;
    align-items: center;

    .landing-section-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content-column {
            width: 48%;
        }
    }

    .cta-columns {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .cta-column {
            width: 47%;
            border-radius: 5px;
        }

        img {
            display: block;
        }
    }

    .cta-column-content {
        padding: 0.618em 0.618em 1.618em;
    }

    .yellow-bg-color {
        background-color: #FFD234;
    }

    .voilet-bg-color {
        background-color: $violet;
    }

    .cta-column-title {
        font-size: 24px;
        text-transform: lowercase;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cta-column-text {
        text-transform: lowercase;
        line-height: 1.25em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .cta-subscribe-headline {
        font-family: "MADE Mirage Regular";
        font-size: 84px;
        line-height: 0.92em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0.5em;
        text-transform: lowercase;
        width: 80%;
    }

    .cta-subscribe-form {
        display: flex;
        flex-wrap: wrap;

        .form-field {
            width: 50%;
            
            input, select, option {
                padding: 0 0 5px 0;
                border: none;
                border-bottom: 3px solid $tangerine;
                margin-bottom: 40px;
                font-weight: 500;
                text-transform: lowercase;
                font-size: 15px;
            }

            select, option {
                font-weight: 300;
                width: 100%;
            }
        }

        label {
            padding: 0 0 5px 0;
            border-bottom: 3px solid $tangerine;
            margin-bottom: 40px;
            font-weight: 500;
            display: block;
            font-size: 15px;
            line-height: 1.68em;
        }

        .form-field input::placeholder {
            font-size: 15px;
            font-weight: 500;
            color: #000;
          }
    }
}